<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem-vindo de volta!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Esse é um sistema de CRUD, utilizado para aprender conceitos importantes do Angular
    </mat-card-subtitle>
    <!-- Diretiva estrutural
    <ul>
        // Aplicação de uma diretiva estrutural, caracterizada por utilizar um * antes do seletor appFor 
        <li *appFor="let n in [1, 2 ,3]">{{ n }}</li>
    </ul>
    -->
</mat-card>
